#
# The MySQL database server configuration file.
#
# You can copy this to one of:
# - "/etc/mysql/my.cnf" to set global options,
# - "~/.my.cnf" to set user-specific options.
# 
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

#
# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#

!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/

[mysqld]
bind-address    = 192.168.15.4
server_id           = 1
log_bin             = /var/log/mysql/mysql-bin.log
log_bin_index       = /var/log/mysql/mysql-bin.log.index
relay_log           = /var/log/mysql/mysql-relay-bin
relay_log_index     = /var/log/mysql/mysql-relay-bin.index
# Set the expire log days longer for avoid slave down long times and occurs below error : 
# Got fatal error 1236 from master when reading data from binary log: 'Could not find first log file name in binary log index file'
expire_logs_days    = 100 
max_binlog_size     = 100M
# log_slave_updates   = 1 (Only master-master required it. For master-slave, the master side no need write its binlog from slave)
# For below, only master-master required it, this make id as 1, 3, 5)
# auto-increment-increment = 2 
# auto-increment-offset = 1
